@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
--bg-black-900:#f2f2fc;
--bg-black-100:#fdf9ff;
--bg-black-50:#e8dfec;
--text-black-900:#3e3b66;
--text-black-700:#504e70;
}
body.dark
  {
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
    }

body{
 line-height: 1.5;
 font-size: 16px;
 font-family: 'poppins' sans-serif;
}
*{
 margin: 0;
 padding: 0;
 outline: none;
 text-decoration: none;
 box-sizing: border-box;
}
::before,::after{
box-sizing: border-box;
}
ul{
    list-style: none;                
}
.section{
 background: var(--bg-black-900);
 min-height:100vh ;
 display: block;
 padding: 0 30px;
 opacity: 1;
}
.hidden{
  display: none !important;
}
.main-content{
  padding-left: 270px;
}
.padd-15{
   padding-left: 15px;   
   padding-right: 15px;              
}
.container{
  max-width: 1100px; 
  width: 100%;  
  margin: auto;              
}
.section .container{
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2{
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before{
  content:'';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after{
  content:'';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top:8px ;
}
.row{
 display: flex;
 flex-wrap: wrap;
 margin-right: -15px;
 margin-left: -15px;
 position: relative;
}
.btn{
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  border: none;
  white-space: nowrap;
  background: var(--skin-color);
  transition: all 0.3s ease;
}
.btn:hover{
 transform: scale(1.05);
}
.shadow-dark{
 box-shadow: 0 0 20px rgba(48, 46, 77, 0.15 );
}
/*aside*/
.aside{
width:270px ;
background: var(--bg-black-100);
position: fixed;
left: 0;
top: 0;
padding: 30px;
height: 100%;
border-right: 1px solid var(--bg-black-50);
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
}
.aside .logo{
position: absolute;   
top: 50px;     
font-size: 30px; 
text-transform: capitalize;   
}
.aside .logo a{
color: var(--text-black-900);
font-weight: 700;
padding: 15px 20px;
font-size: 30px;
letter-spacing: 5px;
position: relative;
}
.aside .logo a span{
font-family:'Clicker Script', cursive;
font-size: 40px;
}
.aside .logo a::before{
    content: '';   
    position: absolute;
    width: 20px;     
    height: 20px; 
    border-bottom: 5px solid var(--skin-color);  
    border-left: 5px solid var(--skin-color);   
    bottom: 0;  
    left: 0;
}
.aside .logo a::after{
 content: '';   
 position: absolute;
 width: 20px;     
 height: 20px; 
 border-top: 5px solid var(--skin-color);  
 border-right: 5px solid var(--skin-color);   
  top: 0;  
 right: 0;
 }
 .aside .nav-toggler{
 height: 40px;
 width: 45px;
 border: 1px solid var(--bg-black-50);
 cursor: pointer;
 position: fixed;
 left: 300px;
 top: 20px;
 border-radius: 5px;
 background: var(--bg-black-100);
 display: none;
 align-items: center;
 justify-content:center;
 }
 .aside .nav-toggler span{
   height: 2px; 
   width: 18px;   
   background: var(--skin-color);   
   display: inline-block; 
   position: relative;         
 }
 .aside .nav-toggler span::before{
 content: '';   
 height: 2px; 
 width: 18px; 
 background: var(--skin-color);
 position: absolute;
 top: -6px;
 left: 0;
 }
 .aside .nav-toggler span::after{
 content: '';   
 height: 2px; 
 width: 18px; 
 background: var(--skin-color);
 position: absolute;
 top: 6px;
 left: 0;
 }
 .aside .nav{
 margin-top: 50px;
 }
 .aside .nav li{
    margin-bottom: 20px;  
    display: block;            
 }
 .aside .nav li a{
    font-size: 16px; 
    font-weight: 600;   
    display: block; 
    border-bottom: 1px solid var(--bg-black-50); 
    color: var(--text-black-900);
    padding: 5px 15px;       
 }
 .aside .nav li a.active{
   color: var(--skin-color);                 
 }
 .aside .nav li a i{
 margin-right: 15px;
 }
 /*home starts*/
 .home{
 min-height: 100vh;
 display: flex;
 color: var(--text-black-900);
 }
 .home .home-info{
 flex: 0 0 60%;
 max-width: 60%;
 }
 h3.hello{
 font-size: 28px;
 margin: 15px;
 }
 h3.hello span{
 font-family: 'Clicker Script',cursive; 
 font-size: 30px;   
 font-weight: 700; 
 color: var(--skin-color);         
 }
 h3.my-profesion{
 font-size: 30px;
 margin: 15px 0;
 }
 .business{
 color: var(--skin-color);
 }
 .home-info p{
 margin-bottom:70px ;
 font-size: 20px;
 color: var(--text-black-700);
 }
 .home .home-img{
 flex: 0 0 40%;
  max-width: 40%;     
  text-align: center; 
  position: relative;         
 }
 .home-img::after{
   content:'' ;  
  position: absolute; 
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
 }
 .home-img::before{
  content:'' ;  
 position: absolute; 
 height: 80px;
 width: 80px;
 border-top: 10px solid var(--skin-color);
 border-left: 10px solid var(--skin-color);
 left: -20px;
 top: -40px;
}
 .home .home-img img{
  margin: auto;
 height: 350px;
 border-radius: 5px;
 width: 250px;
 }
 /*About section starts here*/
 .about .about-content{
  flex: 0 0 100%;
  max-width: 100%;
 }
 .about .about-content .about-text{
  flex: 0 0 100%;
  max-width: 100%;
 }
 .about .about-content .about-text h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
 }
 .about .about-content .about-text h3 span{
  color: var(--skin-color);
 }
 .about .about-content .about-text p{
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
 }
 .about .about-content .personal-info{
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
 }
 .about .about-content .personal-info .info-item{
  flex: 0 0 50%;
  max-width: 50%;
 }
 .about .about-content .personal-info .info-item p{
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50) ;
 }
 .about .about-content .personal-info .info-item p span{
  font-weight: 400;
  color: var(--text-black-700);
  margin-left:4px ;
  display: inline-block;
 }
 .about .about-content .personal-info .buttons{
  margin-top: 25px;
 }
 .about .about-content .personal-info .buttons .btn{
 margin-right:15px;
 margin-top: 10px;
 }
 .about .about-content .skills{
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
 }
 .about .about-content .skills .skill-item{
  flex: 0 0 100%;
  max-width: 100%;
 }
 .about .about-content .skills .skill-item h5{
 line-height: 40px;
 font-weight: 600;
 font-size: 16px;
 color: var(--text-black-900);
 text-transform: capitalize;
 }
 .about .about-content .skills .skill-item .progress{
 background-color: var(--bg-black-50);
 height: 7px;
 border-radius: 4px;
 width: 100%;
 position: relative;
 }
.about .about-content .skills .skill-item{
  margin-bottom: 30px;
}
.about .about-content .skills .skill-item .progress-in{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--skin-color);
  border-radius: 4px;
}
.about .about-content .skills .skill-item .skill-percent{
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}
.about .about-content .education,
 .about .about-content .experience{
flex: 0 0 50%;
max-width: 50%;
margin-top: 30px;
}
.about .about-content h3.title{
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .timeline-box{
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline{
 background-color: var(--bg-black-100);
 padding:30px 15px;
 border: 1px  solid var(--bg-black-50);
 width: 100%;
 position: relative;
}
.about .about-content .timeline .timeline-item{
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item:before{
  content: '';
  width:1px;
  position: absolute;
  height: 100%;
  left: 7px;
 top: 0;
 background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
 width: 15px;
 border-radius: 50%;
 background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa{
  margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text{
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}
/*Service stlying*/
.service .container{
 padding-bottom: 40px; 
}
.service .service-item{
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.service .service-item .service-item-inner{
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover{
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15 );
}
.service .service-item .service-item-inner .icon{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa{
  font-size: 40px;
  line-height: 50px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
 .service-item .service-item-inner:hover .icon{
  background: var(--skin-color);
}
.service-item .service-item-inner:hover .icon .fa{
  font-size: 25px;
  color: #ffffff;
}
.service .service-item .service-item-inner h4{
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}
.service .service-item .service-item-inner p{
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}
/*Projects stlying*/
.project .container{
  padding-bottom: 40px;
}
.project .project-heading{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.project .project-heading h2{
  color: var(--text-black-900);
  font-weight: 500;
}
/*.project .project-item{
  flex: 0 0 33.33%;
  margin-bottom: 30px;
  max-width: 33.33%;
}
.project .project-item-inner{
  border: 6px solid var(--bg-black-100);
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
.project .project-item-inner .project-img img{
  width: 100%;
  display: block;
}*/
.steps{
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn{
  margin: 20px;
}
.steps_section-thumbnail{
  height: 240px;
  object-fit: cover;
  margin:0 auto;
  border-radius: 30px;
}
.steps_content-width{
max-width: 450px;
margin: 0 auto;
}

@media (min-width: 544px){
  .steps{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .steps_section-thumbnail{
    height: auto;
  }
}
 /*Projects stlying end*/
/*Gallery stlying*/
.gallery .container{
  padding-bottom: 40px;
}
.gallery .gallery-heading{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.gallery .gallery-heading h2{
  color: var(--text-black-900);
  font-weight: 500;
}
.gallery .gallery-item{
  flex: 0 0 33.33%;
  margin-bottom: 30px;
  max-width: 33.33%;
}
.gallery .gallery-item-inner{
  border: 6px solid var(--bg-black-100);
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
.gallery .gallery-item-inner .gallery-img img{
  width: 100%;
  display: block;
}
/*Contact Styling*/
.contact-title{
 color: var(--skin-color); 
 text-align: center;
 font-size: 25px;
 margin-bottom: 20px;
}
.contact-sub-title{
  color: var(--text-black-900); 
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
 }
 .contact .contact-info-item{
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
 }
 .contact .contact-info-item .icon{
  display: inline-block;
 }
 .contact .contact-info-item .icon .fa{
  font-size: 25px;
  color: var(--skin-color);
 }
 .contact .contact-info-item h4{
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
 }
 .contact .contact-info-item p{
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
 }
 .contact .contact-form{
  flex: 0 0 100%;
  max-width: 100%;
 }
 .contact .contact-form .col-6{
  flex: 0 0 50%;
  max-width: 50%;
 }
 .contact .contact-form .col-12{
  flex: 0 0 100%;
  max-width: 100%;
 }
 .contact .contact-form .form-item{
  margin-bottom: 30px;
 }
 .contact .contact-form .form-item .form-control{
  width:100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
 }
 .contact .contact-form .form-item .form-control:focus{
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15 );
 }
 .contact .contact-form .form-item textarea.form-control{
  height: 140px;
 }
 .contact .contact-form .btn{
  height: 50px;
  padding: 0 50px ;
 }
 @media (max-width:1199px)
 {
  .aside
  {
    left: -270px;
  }
  .main-content
  {
     padding-left: 0;
  }
  .about .about-content .personal-info .info-item p span{
   display: block;
   margin-left: 0;
  }
 }
 @media (max-width:991px)
 {
  .contact .contact-info-item,
  .gallery .gallery-item,
  .project .project-item,
  .service .service-item{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .home .home-info{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img{
    display: none;
  }
 }

 @media (max-width:767px)
 {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .gallery .gallery-item,
  .project .project-item,
  .service .service-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info
  {
    flex: 0 0 100%;
    max-width: 100%;
  }
 }
/**Calendar====*/
.calendar{
  color: #fff;
  margin: 10px auto;
  background: #088ea0;
  padding: 60px 40px 80px 40px;
  width: 95%;
  max-width: 600px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(2,2,2,0.2);
  position: relative;
}
.calendar__title{
  text-align: center;
}
.calendar--day-view{
  position: absolute;
  border-radius: 3px;
  top: -2.5%;
  left: -2.5%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
 box-shadow: 3px 12px 5px rgba(2,2,2,0.16);
  z-index: 2;
  overflow: hidden;
  transform: scale(0.9) translate(30px,30px);
  opacity: 0;
  visibility: hidden;
/*   border-radius: 5px; */
  display: none;
  align-items: flex-start;
  flex-wrap: wrap;
}
.day-view-content{
  color: #222;
  width: 100%;
  padding-top: 55px;
}
.day-highlight, .day-add-event{
  padding: 8px 10px;
  margin: 12px 15px;
  border-radius: 4px;
  background: #e7e8e8;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  font-family: "Avenir", sans-serif;
}
.row1{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row1 .qtr{
  width: 40%;
}
.row1 .half{
  width: 100%;
}
@media (min-width: 800px){
  .row1{
    flex-wrap: nowrap;
  }
  .row1 .half{
    width: 35%;
  }
  .row1 .qtr{
    width: 25%;
  }
}

.day-add-event{
  background: #04b6e2;
  color: #fff;
  padding: 16px;
  display: none;
  transform: translateY(-15px);
  opacity: 0;
}
.day-add-event[data-active="true"]{
  display: block;
  animation: popIn 250ms 1 forwards;
}
.add-event-label{
  padding: 10px 0;
  font-size: 18px;
  font-family: 'Avenir', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255,255,255,0.8);
}
.add-event-edit{
  display: block;
  margin: 4px 0;
  max-width: 70%;
  border-bottom: 2px solid #fff;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
}
.add-event-edit--long{
  max-width: 90%;
}

input.add-event-edit{
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  font: inherit;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
}
.add-event-edit--error, input.add-event-edit--error{
  border-color: #ff5151;
  animation: shake 300ms 1 forwards;
}
@keyframes shake {
  20%, 60%{
    transform: translateX(4px);
  }
  40%, 80%{
    transform: translateX(-4px);
  }
}
input.add-event-edit::-webkit-input-placeholder {
   color: #fff;
}

input.add-event-edit:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

input.add-event-edit::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

input.add-event-edit:-ms-input-placeholder {  
   color: #fff;  
}
.event-btn{
  padding: 3px 8px;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  width: 65px;
  margin: 5px 0;
  text-align: center;
}

.event-btn--save{
  border-color: #fff;
   background: #74c500;
  color: #fff;
  border-color: transparent;
}
.event-btn--save:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}
.event-btn--cancel{
  background: #ff5151;
  color: #fff;
  border-color: transparent;
}
.event-btn--cancel:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}
/* .add-event-btn:hover, .add.event-btn:focus{
  background: #00258e;
  box-shadow: 0px -1px 2px rgba(3,2,2,0.2);
} */
.day-highlight .day-events-link{
  border-bottom: 2px solid #222;
  padding: 0;
  cursor: pointer;
}
#add-event{
  color: #04b6e2;
  border-color: #04b6e2;
}
.day-view-exit{
  position: absolute;
  top: 24px;
  line-height: 1em;
  left: 22px;
  font-size: 22px;
  color: #252525;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  cursor: pointer;
  opacity: 0;
  animation: popIn 200ms 1 forwards;
  text-transform: uppercase;
}
.day-view-date{
  position: absolute;
  top: 19px;
  right: 22px;
  text-align: right;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  color: #393939;
  border-bottom: 2px solid #222;
  cursor: pointer;
}
.day-inspiration-quote{
  position: absolute;
/*   top: 90px; */
  margin-top: -40px;
  left: 10%;
  width: 80%;
  height: calc(100% - 110px);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #ddd;
  line-height: 1.1em;
  font-family: 'Avenir', sans-serif;
  z-index: -1;
}
.day-event-list-ul{
  list-style: none;
  margin: auto;
  width: 95%;
  padding: 0;
  max-height: 300px;
  overflow: auto;
}
.day-event-list-ul li {
  padding: 10px;
  margin: 10px 0;
/*   background: #04b6e2; */
/*   box-shadow: 0px 1px 1px  rgba(2,2,2,0.5); */
  position: relative;
}
.event-dates small{
  font-size: 0.65em;
  color: #444;
}
.event-dates{
  font-weight: 800;
  font-family: 'Avenir', sans-serif;
  color: #04b6e2;
  font-size: 18px;
  text-transform: lowercase;
/*   position: relative; */
}
.event-delete{
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 12px;
  color: #f25656;
  cursor: pointer;
}
.event-name{
  font-size: 19px;
  font-family: 'Avenir', sans-serif;
  color: #222;
  padding:10px;
  background: #f7f7f7;
  margin: 2px 0;
  display: block;
  text-transform: initial;
}
.calendar--day-view-active{
  animation: popIn 200ms 1 forwards;
  visibility: visible;
  display: flex;
  transition: visibility 0ms;

}
.calendar--view{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
}
.cview__month{
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  padding-bottom: 20px;
  color: #222;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
}
.cview__month-last,.cview__month-next,.cview__month-current{
  width: 33.33333%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #222;
}
.cview__month-last:hover,.cview__month-next:hover{
  color: #fff;
}

.cview__month-current{
  font-size: 22px;
  cursor: default;
  animation: popIn 200ms 1 forwards;
  transform: translateY(20px);
  opacity: 0;
  position: relative;
}
.cview__month-reset{
  animation: none;
}
.cview__month-activate{
  animation: popIn 100ms 1 forwards;
}
.cview--spacer, .cview__header, .cview--date{
  width: 14.28571428571429%;
  max-width: 14.28571428571429%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  overflow: hidden;
  text-overflow: clip;
  font-size: 14px;
  font-weight: 900;
}
.cview--date{
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.has-events::after{
  border-radius:100%;
  animation: popIn 200ms 1 forwards;
  background: rgba(255,255,255,0.95);
  transform: scale(0);
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 12px;
  
}
.cview--date:hover::before{
  background: rgba(255,255,255,0.2);
}
.cview--date.today{
  color: #111;  
}
.cview--date.today::before{
  animation: popIn 200ms 1 forwards;
  background: rgba(255,255,255,0.2);
  transform: scale(0);
}
@keyframes popIn{

  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.cview--date::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  transform: scale(0.8);
  z-index: 0;
}
.footer{
  width: 100%;
  bottom: 50px;
  left: 0;
  position: absolute;
  font-size: 14px;
  text-align: center;
}
.footer__link{
  cursor: pointer;
  padding: 2px 5px;
  border-bottom: 1px solid #fff;
}