/* HTML
/**<h3>Hello, it's me <span>Josiah Eyison</span></h3>
    <h2>Want to Discuss Business Development?</h2>
    <div class="txt">

        <h1>Tell me More</h1>
        In his line of employment, Josaih Kwesi Eyison has years of managerial expertise. 
        He has developed a reputation for assisting entrepreneurs 
        and innovation hubs with coaching, mentoring, funding, and training.
    </div>


<section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hi, it's me</div>
                <div class="text-2">Josaih Eyison </div>
                <div class="text-3">And I'm an <span>Entrepreneur</span> </div>

<div class="text-1">Hi, it's me</div>
                <div class="text-2">Josaih Eyison </div>
                <div class="text-3">And I'm an <span>Entrepreneur</span> </div>


            </div>
    </div>
</section>












 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josiah Eyison</title>
    <link rel="stylesheet" href="J.css">
</head>
<body>
    <ul type="none">
        <li><a href="">Contacts</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">About Me</a></li>
        <!--<li><a href="">Meet Me</a></li>-->
        <li class="text"><a href="">Home</a></li>
    </ul>


<!--Home Section starts here-->
<section class="home section">
        <div class="container">
            <div class="row">
                <div class="home-info padd-15">
                 <h3 class="hello">Hi, it's me </h3> 
                 <h1 ><span class="name">Josiah.</span></h1>
                 <!--<h3 class="my-profession">I'm an <span class="typing">Entreprenuer</span></h3> -->
                 <p> In his line of employment, Josaih Kwesi Eyison has years of managerial expertise. 
                    He has developed a reputation for assisting entrepreneurs 
                    and innovation hubs with coaching, mentoring, funding, and training.</p> 
                  <!--<div class="home-img padd-15">
                        <img src="JKE.JPG" alt="">
                    </div>-->  

                </div>
            </div>
    </div>
</section>
    

<!--About Section starts here-->
<section>

</section>
    
<script src="J.js"></script>
</body>
</html>





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

CSS

h3{position: absolute;
    left: 10%;
    top: 20%;
    color: white;
    font-size: 30px;
    font-family: arial;
    text-decoration: uppercase; text-shadow: 1px 1px 1px;}
    h2 {position: absolute;
    left: 10%;
    top: 30%; 
    color: white; 
    font-family: arial;
    font-size: 14px;
    background: green;}
    .txt{position: absolute;
    left: 10%;
    top: 66%; width: 500px; font-family: arial;  
    }

    *{
    box-sizing: border-box;
    margin: 10px;
    padding:10px ;
}
body{background:linear-gradient( rgba(0, 0, 0, 0.65),rgba(0,0,0,0.65),rgba(0,0,0,0.38),rgba(0,0,0,0.0)),
    url(JKE.JPG);
    background-attachment:fixed;
    height:100%;
    background-size:cover;
   }

ul li{width: 88px;
float: right;
text-align: center;
border: 1px solid white;
background-color:black;
opacity: 0.8;
font-family: arial;
padding: 7px;
margin-right: 4px;
}
ul li a{text-decoration: none; color: white;}
.text{background-color: green;}
ul li:hover{background-color: green;}

.secttion{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    padding: 0 30px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}
.padd-15
{
    padding-right: 15px;
    padding-right: 15px;
}

.container
{
max-width:1100px;
width: 100%;
margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

/*Home styling
.home{
    height: 100vh;
    display: flex;
    color:var(--text-black-900) ;
    text-align: justify;
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
h1 span{
    font-family: arial ;
    font-size: 80px;
    font-weight: 700;
    color:green; 
    text-align: center; 
}
@media screen and (max-width: 767px){
    p{
        padding: 1px;
        position: relative;
        color: rgb(17, 15, 15)
    }
}

h3.hello{
   font-size: 28px; 
    text-align: justify;
}

/*h3.hello span{
    font-family: 'clicker Script', cursive ;
    font-size: 30px;
    font-weight: 700;
    color:green;
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
} 
.home .home-img img{
  height: 300px; 
  width: 300px; 
}*/



/*.logo img{
    height: 5rem;
    padding-left: 20px;
}
  .header{
    background-color:black !important;
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    top: 0;  left: 0;  right: 0;
    z-index: 1000;
    position: fixed;
}
    .header.navbar{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        transition: .2s linear;
        float: right;
    }
   
    .navbar a{
        font-family: Arial;
        position: relative;
        text-decoration: none;
        align-items: center;
        justify-content: space-between;
        display: flex;
        margin: 0;
        padding: 0;
      
    }
    
      .header .navbar a{
          margin-right: 5rem;
          font-size: 18px;
          color:white;
          font-weight: 700;
          display: inline-block;
      }
      
      @media (min-width: 100px){
      .header .navbar a:hover{
               color: cadetblue;
      }
      }
      
      .dropdown .dropbtn{
        background-color:black;
      }
      /*  Dropdown Button*/
      .dropbtn{
                    color:none;
                   padding: 16px;
                   font-size: 18px;
                   font-family: Arial;
                   border:none;
                   font-weight: 700;
                   margin-right: 10px;
                   }
                   /*  The container <div> -needed to position the dropdown content*/
                   .dropdown{
                   position: relative;
                   display: inline-block;
                   }
                   /*Dropdown Content (Hidden by Default)*/
                   .dropdown-content{
                   display: none;
                   position: absolute;
                   background-color:#696565 ;
                   min-width: 160px;
                   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                   z-index: 1;
                   }
                   /*Links inside the dropdown*/
                   .dropdown-content a{
                   color:white;
                   padding: 12px 16px;
                   text-decoration: none;
                   display: block;
                   }
                   /*Change color of dropdown links on hover*/
                   .dropdown-content a:hover{background-color:#ddd;}
                   
                   /*Show the dropdown menu on hover*/
                   .dropdown:hover .dropdown-content{display: block;}
                   /*Change the background color of the dropdown button when the
                   dropdown content is shown*/
                   .dropdown:hover .dropbtn{background-color:#ecb640;}
                   
                   
                    
             
             /*home section starts here
             .team h2{
              text-align: center;
              padding-top: 20px;
             }
               
             /* Main Footer 
             footer .main-footer{  padding: 20px 0;  background: #252525;}
             footer ul{  padding-left: 0;  list-style: none;}
             
             /* Copy Right Footer 
             .footer-copyright { background: #222; padding: 5px 0;}
             .footer-copyright .logo {    display: inherit;}
             .footer-copyright nav {    float: right;    margin-top: 5px;}
             .footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
             .footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
             .footer-copyright nav ul li a{  color: #969696;}
             .footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
             .footer-copyright p { color: #969696; margin: 2px 0 0;}
             
             /* Footer Top 
             .footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}
             
             /* Footer transparent 
             footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
             footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}
             
             /* Footer light 
             footer.light .footer-top{ background: #f9f9f9;}
             footer.light .main-footer{  background: #f9f9f9;}
             footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}
             
              Footer 4 
             .footer- .logo {    display: inline-block;}
             
             ==================== 
               Widgets 
             ====================== 
             .widget{  padding: 20px;  margin-bottom: 40px;}
             .widget.widget-last{  margin-bottom: 0px;}
             .widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
               box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
             .widget.subscribe p{  margin-bottom: 18px;}
             .widget li a{ color: #ff8d1e;}
             .widget li a:hover{ color: #4b92dc;}
             .widget-title {margin-bottom: 20px;}
             .widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
             .widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
             .widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
             .widget .badge{ float: right; background: #7f7f7f;}
             
             .typo-light h1, 
             .typo-light h2, 
             .typo-light h3, 
             .typo-light h4, 
             .typo-light h5, 
             .typo-light h6,
             .typo-light p,
             .typo-light div,
             .typo-light span,
             .typo-light small{  color: #fff;}
             
             ul.social-footer2 { margin: 0;padding: 0; width: auto;}
             ul.social-footer2 li {display: inline-block;padding: 0;}
             ul.social-footer2 li a:hover {background-color:#ff8d1e;}
             ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
             .btn{background-color: #ff8d1e; color:#fff;}
             .btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
             -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
             -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
             -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
             -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
             box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
             -webkit-transition: all 250ms ease-in-out 0s;
             -moz-transition: all 250ms ease-in-out 0s;
             -ms-transition: all 250ms ease-in-out 0s;
             -o-transition: all 250ms ease-in-out 0s;
             transition: all 250ms ease-in-out 0s;
             }*/


















/*

 <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="./img/img-2.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Front End Developer</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, velit alias eius non illum beatae atque
          repellat ratione qui veritatis repudiandae adipisci maiores. At inventore necessitatibus deserunt
          exercitationem cumque earum omnis ipsum rem accusantium quis, quas quia, accusamus provident suscipit magni!
          Expedita sint ad dolore, commodi labore nihil velit earum ducimus nulla quae nostrum fugit aut, deserunt
          reprehenderit libero enim!</p>
        <a href="#" class="cta">Download Resume</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+1 234 123 1234</h2>
            <h2>+1 234 123 1234</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>info@gmail.com</h2>
            <h2>abcd@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Fatikchhari, Chittagong, Bangladesh</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>S</span>haif <span>A</span>rfan</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>Copyright © 2020 Arfan. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>




@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/hero-bg.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
/* End Services Section */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */